.desk {
  position: absolute;
  height: 2000px;
  width: 3000px;
  background-color: #EEEEFF;
  background-image: linear-gradient( transparent 95%, rgba(0,0,0,.06) 50%, rgba(0,0,0,.06)), linear-gradient( 90deg, transparent 95%, rgba(0,0,0,.06) 50%, rgba(0,0,0,.06) );
  background-size: 16px 16px;
  background-repeat: repeat;
}